.Main main {
  padding: 30px 0;
}

.Main .current-weather {
  display: flex;
  justify-content: space-between;
}

.Main .current-city {
  margin: 0;
  font-size: 38px;
  line-height: 40px;
}

.Main .current-details {
  font-size: 16px;
  color: rgba(39, 33, 66, 0.4);
  line-height: 24px;
  font-weight: 500;
}

.Main .current-details strong {
  color: #f65282;
}

.Main .current-temperature-container {
  display: flex;
}
.Main .temperature-icon {
  width: 88px;
  height: 88px;
}
.Main .temperature-value {
  font-size: 88px;
  line-height: 88px;
  font-weight: 600;
}
.Main .temperature-unit {
  margin-top: 6px;
  font-size: 28px;
}
